body{
 margin: 0px;
 padding: 0px;
}


.heading{
    background-color: rgb(3, 3, 97);
    height: 4rem;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 6px;
    }
.image{
    margin-left: 19rem;
}

